.qrcode-container {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

p {
  text-wrap: wrap;
  margin: 0 16px;
  color: #dddddd;
  font-size: 14px;
}
