.custom-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.custom-modal-content {
  position: relative;
  margin: 15% auto;
  padding: 16px;
  background: rgba(16, 21, 27);
  min-height: 25vh;
  max-width: inherit;
  border-radius: 5px;
}

.custom-modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background: transparent;
  padding: 8px;
}

.custom-modal-close:hover {
  background: rgba(255, 0, 0, 0.75);
}

.custom-modal-close:active {
  background: rgba(255, 0, 0, 0.50);
}
